<h3>Please choose rock, paper or scissors</h3>

<form action="/choice" method="post">
  <label for="user_choice">
    Player choice
    <input type="text" name="user_choice">
  </label>
  <input type="submit" name="Submit">
</form>
